<.header>
  New Cover image
  <:subtitle>Use this form to manage cover_image records in your database.</:subtitle>
</.header>

<.cover_image_form changeset={@changeset} action={~p"/cover_images"} />

<.back navigate={~p"/cover_images"}>Back to cover_images</.back>
